@use '../base/variables' as vars;

.footer {
  background-color: vars.$color-destacado;
  color: vars.$color-fondo;
  padding: 20px;
  text-align: center;
  font-family: vars.$font-secondary;

  &__top {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;

    .footer__link {
      color: vars.$color-fondo;
      text-decoration: none;
      font-weight: bold;
      font-size: 0.65rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    .footer__logo-image {
      height: 50px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .footer__copyright {
      font-size: 0.75rem;
    }

    .footer__social {
      display: flex;
      gap: 15px;

      .footer__social-icon {
        font-size: 1.2rem;
        color: vars.$color-fondo;
        transition: color 0.3s ease;

        &:hover {
          color: vars.$color-texto;
        }
      }
    }
  }
}
