/* Error: expected "{".
 *     ,
 * 136 |       flex: 0 0 33.33%; // Ocupa aproximadamente un tercio del ancho para mostrar tres ítems en pantalla
 *     |                       ^
 *     '
 *   scss\pages\_home.scss 136:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 136 \2502        flex: 0 0 33.33%; // Ocupa aproximadamente un tercio del ancho para mostrar tres \ed tems en pantalla\d\a     \2502                        ^\a     \2575 \a   scss\\pages\\_home.scss 136:23  root stylesheet';
}
