@use '../base/variables' as vars;

@mixin estilo-pelicula {
  display: flex;
  flex-direction: column; /* Diseño inicial para móviles */
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;

  .pelicula__image {
    width: 40%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .pelicula__info {
    width: 100%; /* Información ocupa todo el ancho en móvil */
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center; /* Centrar texto en móviles */

    .pelicula__title {
      font-size: vars.$font-size-h1;
      font-family: vars.$font-primary;
      color: vars.$color-destacado;
      margin: 0;
    }

    .pelicula__description,
    .pelicula__duration {
      font-size: vars.$font-size-base;
      font-family: vars.$font-secondary;
      color: vars.$color-texto-secundario;
      line-height: 1.6;
    }
  }

  @media (min-width: 768px) { /* Ajustes para pantallas medianas */
    flex-direction: row; /* Diseño en fila */
    align-items: flex-start;

    .pelicula__image {
      width: 25%; /* Imagen ocupa menos espacio */
    }

    .pelicula__info {
      width: 60%; /* Información ocupa más espacio */
      text-align: left; /* Texto alineado a la izquierda */
    }
  }

  @media (min-width: 1024px) { /* Ajustes para pantallas grandes */
    max-width: 800px; /* Limitar el ancho del contenedor */
  }
}
