@use '../base/variables' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: vars.$font-secondary;
  background-color: vars.$color-fondo;
  color: vars.$color-texto;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  font-size: vars.$font-size-h1;
  font-family: vars.$font-primary;
  font-weight: bold;
  color: vars.$color-destacado;
  margin: 20px 0;
  text-align: center;
}

@media (min-width: 1024px) {
  h1, h2 {
    font-size: vars.$font-size-h1-large;
  }
}

p {
  font-size: vars.$font-size-base; 
  line-height: 1.6;
  font-family: vars.$font-secondary;
  color: vars.$color-texto;
}

@media (min-width: 768px) {
  p {
    font-size: vars.$font-size-large; 
  }
}
