/* _reset.scss */
@use '../base/variables' as vars;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif; /* Puedes usar una fuente predeterminada aquí si lo necesitas */
    background-color: vars.$color-fondo; /* Esto depende de las variables, pero aún no han sido importadas aquí */
    color: vars.$color-texto; /* También depende de las variables */
    margin: 0;
    padding: 20px;
  }
  