// Variables globales
$color-fondo-card: #181818;
$color-fondo: #000;
$color-texto: #fff;
$color-destacado: #00aaff;
$color-borde: #333;
$color-fondo-menu: #1b1b1bf1;

// Fuentes
$font-primary: 'Bebas Neue', sans-serif;
$font-secondary: 'Roboto', sans-serif;