// Variables globales de colores
$color-fondo-card: #181818;
$color-fondo: #000;
$color-texto: #fff;
$color-destacado: #00aaff;
$color-borde: #333;
$color-fondo-menu: rgba(27, 27, 27, 0.59);
$highlight-color: #00aaff;
$background-color: #000;

$secondary-color: #000;
$primary-color: #00aaff;
$color-fondo-overlay: rgba(0, 0, 0, 0.82);

// Fuentes
$font-primary: 'Bebas Neue', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-family-primary: 'Bebas Neue', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;