@use '../base/variables' as vars;

html,
body {
    background-color: vars.$color-fondo;
    color: vars.$color-texto;
    margin: 0;
    padding: 0;
    font-family: vars.$font-primary;
}

.content {
    padding: 20px;
}

.hero {
    text-align: center;

    &__title {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 15px;
        font-family: vars.$font-primary;
    }

    &__image {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}

.footer {
    font-family: vars.$font-primary;

    &__link,
    &__copyright {
        font-family: vars.$font-secondary;
    }
}