// Variables generales
$color-fondo-card: #181818;
$color-fondo: #000;
$color-texto: #fff;
$color-destacado: #00aaff;
$color-borde: #333;
$font-primary: 'Bebas Neue', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Estilos Globales
html, body {
  background-color: $color-fondo;
  color: $color-texto;
  margin: 0;
  padding: 0;
  font-family: $font-primary; // Fuente principal
  overflow-x: hidden; // Evita scroll lateral inesperado
}



// Contenido Principal
.content {
  padding: 20px;
}

// Sección de películas
.peliculas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__card {
    display: flex;
    align-items: center;
    background-color: $color-fondo-card;
    border: 1px solid $color-borde;
    border-radius: 10px;
    overflow: hidden;
    color: $color-texto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }
  }

  &__image {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-right: 3px solid $color-destacado;
  }

  &__info {
    padding: 20px;
    flex: 1;

    h2 {
      margin: 0 0 10px;
      font-size: 1.8rem;
      font-family: $font-primary;
    }

    p {
      margin: 5px 0;
      font-family: $font-secondary;
      line-height: 1.5;
      white-space: normal; /* Permite texto multilineal */
      overflow-wrap: break-word; /* Maneja palabras largas */
    }

    .peliculas__button {
      display: inline-block;
      margin-top: 10px;
      background-color: $color-destacado;
      color: $color-texto;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      font-family: $font-primary;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: darken($color-destacado, 10%);
      }
    }
  }

  // Responsividad para pantallas pequeñas
  @media (max-width: 768px) {
    &__card {
      flex-direction: column;
      text-align: center;

      .peliculas__image {
        margin: 0 auto;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 3px solid $color-destacado;
      }
    }
  }
}
