@use '../base/variables' as vars;
@use '../base/reset' as *;
@use '../base/mixins' as *;

.pagina-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding: 20px; /* Espaciado interno */
  background-color: vars.$color-fondo; /* Fondo del main */
  box-sizing: border-box;

  .pelicula {
    @include estilo-pelicula; /* Llamada al mixin */
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;

    &__image {
      max-width: 25%; /* Ajusta el tamaño máximo de la imagen */
    }
  }

  .funcion-info {
    text-align: center; /* Centrar texto */
    margin-bottom: 30px;
    font-size: 1rem;
    color: vars.$color-texto;
  }

  .formulario-pago {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: vars.$color-fondo-card;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;

    &__row {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        padding: 10px;
        border: 1px solid vars.$color-borde;
        border-radius: 5px;
        font-size: 1rem;
        background-color: vars.$color-fondo;
        color: vars.$color-texto;
        box-sizing: border-box;
      }
    }
  }

  .boton-pago {
    background-color: vars.$primary-color;
    color: #ffffff;
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: vars.$font-primary;
    margin-top: 20px;

  }
}

/* Estilo responsivo */
@media (min-width: 768px) {
  .pelicula {
    flex-direction: row; /* Fila en pantallas grandes */
    justify-content: space-between;

    &__image {
      max-width: 30%; /* Ajusta el tamaño máximo de la imagen en pantallas grandes */
    }
  }

  .formulario-pago__row {
    flex-direction: row;

    input {
      flex: 1; /* Ajusta inputs al mismo tamaño */
    }
  }
}
