
@use '../base/variables' as vars;

@use '../base/reset' as *;


.pelicula {
  display: flex;
  flex-direction: column; /* Asegura que en móviles esté en columna */
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;

  &__image {
    max-width: 100%; /* La imagen ocupa el 100% del ancho disponible */
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &__info {
    text-align: center; /* Centra el texto en móviles */
    color: vars.$color-texto;
    max-width: 100%;
    
    .pelicula__title {
      font-size: 1.5rem; /* Tamaño más pequeño en móviles */
      font-family: vars.$font-primary;
      margin-bottom: 15px;
      color: vars.$color-texto;
    }

    .pelicula__description {
      font-size: 1rem;
      font-family: vars.$font-secondary;
      line-height: 1.6;
      margin-bottom: 15px;
      color: lighten(vars.$color-texto, 10%);
    }

    .pelicula__duration {
      font-size: 1rem;
      font-family: vars.$font-primary;
      color: vars.$color-texto;
      margin-top: 10px;
    }
  }
}

.funcion-info {
  font-size: 1.2rem;
  font-family: vars.$font-family-primary;
  color: vars.$primary-color;
  text-align: center;
  margin: 9px;
}

.funcion-info__horario,
.funcion-info__sala,
.precio__titulo {
  font-size: 1.2rem;
  font-weight: 400 !important;
  margin: 5px;
  color: vars.$primary-color;
}

.asientos__titulo {
  margin-top: 20px;
  font-size: 1.2rem;
  color: vars.$primary-color;
  text-align: center;
  font-weight: 400 !important;
  margin: 5px;
}

.formulario-pago__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;

  input {
    padding: 10px;
    border: 1px solid vars.$color-borde;
    border-radius: 5px;
    font-size: 1rem;
    background-color: vars.$color-fondo;
    color: vars.$color-texto;
    box-sizing: border-box;
  }
}

.boton-pago {
  background-color: vars.$primary-color;
  color: #ffffff;
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(vars.$primary-color, 10%);
  }
}

@media (min-width: 768px) {
  .pelicula {
    flex-direction: row; /* En pantallas grandes, los elementos estarán en fila */
    justify-content: space-between;
  }

  .pelicula__image {
    max-width: 350px; /* Limitar el tamaño de la imagen en pantallas grandes */
  }

  .pelicula__info {
    text-align: left;
    max-width: 600px;
  }

  .formulario-pago__row {
    flex-direction: row;
  }

  .formulario-pago__row input {
    flex: 1;
  }
}
