@use '../base/variables' as vars;

body {
  background-color: vars.$color-fondo;
  color: vars.$color-texto;
  font-family: vars.$font-primary;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.pelicula {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  align-items: center;

  &__image {
    max-width: 230px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &__info {
    flex: 1;
    text-align: left;
    color: vars.$color-texto;

    .pelicula__title {
      font-size: 2rem;
      font-family: vars.$font-primary;
      margin-bottom: 15px;
      color: vars.$color-texto;
    }

    .pelicula__description {
      font-size: 1rem;
      font-family: vars.$font-secondary;
      line-height: 1.6;
      margin-bottom: 15px;
      color: lighten(vars.$color-texto, 10%);
    }

    .pelicula__duration {
      font-size: 1rem;
      font-family: vars.$font-primary;
      color: vars.$color-texto;
      margin-top: 10px;
    }
  }
}

.funcion-info {
  font-size: 1rem;
  font-family: vars.$font-primary;
  color: vars.$color-texto;
  text-align: center;
}

.funcion-info__horario,
.funcion-info__sala, .precio__titulo {
  font-size: 1.2rem;
  font-weight: 400 !important;
}

.asientos__titulo {
  margin-top: 20px;
  font-size: 1.1rem;
  color: vars.$color-texto;
  text-align: center;
  font-weight: 400 !important;
}

.formulario-pago {
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
}

.formulario-pago__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;

  input {
    padding: 10px;
    border: 1px solid vars.$color-borde;
    border-radius: 5px;
    font-size: 1rem;
    background-color: vars.$color-fondo;
    color: vars.$color-texto;
    box-sizing: border-box;
  }
}

.boton-pago {
  background-color: vars.$primary-color;
  color: #ffffff;
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(vars.$primary-color, 10%);
  }
}

@media (min-width: 768px) {
  .pelicula {
    flex-direction: row;
    justify-content: space-between;
  }

  .pelicula__image {
    max-width: 350px;
  }

  .pelicula__info {
    text-align: left;
    max-width: 600px;
  }

  .formulario-pago__row {
    flex-direction: row;
  }

  .formulario-pago__row input {
    flex: 1;
  }

  .asientos__titulo {
    font-size: 1.3rem;
  }
}

