@use '../base/variables' as vars;

html,
body {
  background-color: vars.$color-fondo;
  color: vars.$color-texto;
  margin: 0;
  padding: 0;
  font-family: vars.$font-primary;
  line-height: 1.6;
}

.content {
  padding: 20px;
}

.hero__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.privacy-policy {
  margin: 40px 20px;
  padding: 20px;
  border-radius: 10px;
}

.privacy-policy__title {
  font-size: 2.5rem;
  font-family: vars.$font-family-primary;
  color: vars.$color-destacado;
  text-align: center;
  margin-bottom: 20px;
}

.privacy-policy h2 {
  font-family: vars.$font-family-primary;
  color: vars.$color-destacado;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.privacy-policy p,
.privacy-policy ul {
  font-size: 1.1rem;
  font-family: vars.$font-family-secondary;
  color: vars.$color-texto;
  text-align: justify;
  margin-bottom: 20px;
}

.privacy-policy ul {
  padding-left: 20px;
}

.privacy-policy ul li {
  list-style-type: disc;
  margin-bottom: 10px;
}

.privacy-policy ul li strong {
  color: vars.$color-destacado;
}

@media (min-width: 768px) {
  .navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }

  .privacy-policy {
    max-width: 800px;
    margin: 40px auto;
  }

  .privacy-policy__title {
    font-size: 3rem;
  }

  .privacy-policy p,
  .privacy-policy ul {
    font-size: 1.2rem;
  }
}