@use '../base/variables' as vars;
@use '../base/reset' as *;

.main-content {
  &__hero {
    text-align: center;
    margin-bottom: 20px;
  }
}

.hero__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.cookie-policy {
  margin: 40px 20px;
  padding: 20px;
  border-radius: 10px;


  &__heading {
    font-family: vars.$font-family-primary;
    color: vars.$color-destacado;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__list {
    font-size: 1.1rem;
    font-family: vars.$font-family-secondary;
    color: vars.$color-texto;
    text-align: justify;
    margin-bottom: 20px;
  }

  &__list {
    padding-left: 20px;

    &-item {
      list-style-type: disc;
      margin-bottom: 10px;

      strong {
        color: vars.$color-destacado;
      }
    }
  }

  &__section {
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    max-width: 800px;
    margin: 40px auto;

    &__list {
      font-size: 1.2rem;
    }
  }
}
