@use '../base/variables' as vars;

@use '../base/reset' as *;

.hero__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.privacy-policy {
    margin: 40px 20px;
    padding: 20px;
    border-radius: 10px;
}

.privacy-policy__title {
    font-size: 2rem;
    font-family: vars.$font-family-primary;
    color: vars.$color-destacado;
    text-align: center;
    margin-bottom: 20px;
}

.privacy-policy h2 {
    color: vars.$color-destacado;
    font-family: vars.$font-family-primary;
    margin-top: 20px;
    margin-bottom: 10px;
}

.privacy-policy p,
.privacy-policy ul {
    font-size: 1.1rem;
    font-family: vars.$font-family-secondary;
    color: vars.$color-texto;
    text-align: justify;
    margin-bottom: 20px;
}

.privacy-policy ul {
    padding-left: 20px;
}

.privacy-policy ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}


@media (min-width: 768px) {
    .privacy-policy {
        max-width: 800px;
        margin: 40px auto;
    }

    .privacy-policy__title {
        font-size: 2.5rem;
    }

    .privacy-policy p,
    .privacy-policy ul {
        font-size: 1.2rem;
    }
}