$primary-color: #fff;
$secondary-color: #0000003a;
$highlight-color: #00aaff;
$font-family-primary: 'Bebas Neue', sans-serif;
$color-fondo: #0000003b;
$color-fondo-menu: #1b1b1b96;
$color-texto: #fff;
$font-primary: 'Bebas Neue', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$color-destacado: #00aaff;

body {
  font-family: $font-family-primary;
  background-color: $secondary-color;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

.navbar {
  &__menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $color-fondo-menu;
    padding: 20px;
    border-radius: 5px;

    &.is-active {
      display: flex;
    }
  }

  &__item {
    color: $color-texto;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: $font-primary;

    &:hover {
      color: $color-destacado;
    }
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    &-icon {
      width: 25px;
      height: 3px;
      border-radius: 2px;
      background-color: $color-texto;
    }
  }
}

.promo {
  padding: 2rem;
  text-align: center;
  color: $primary-color;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    color: $primary-color;
    min-height: 300px;

    &:nth-child(1) {
      background-image: url('../../Fotos/fondo-cars.jpg'); // Fondo para Cars 4
    }

    &:nth-child(2) {
      background-image: url('../../Fotos/fondo-avatar.jpg'); // Fondo para Avatar
    }

    &:nth-child(3) {
      background-image: url('../../Fotos/fondo-FastFurius11.jpg'); // Fondo para Fast & Furious
    }

    &:nth-child(4) {
      background-image: url('../../Fotos/fondo-jurassicworld.jpg'); // Fondo para Jurassic World
    }

    &-image {
      max-width: 300px;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.37);
    }

    &-details {
      max-width: 400px;
      padding: 1rem;
      text-align: left;

      h2 {
        font-size: 1.8rem;
        color: $highlight-color;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }
}