@use '../base/variables' as vars;

body {
  font-family: vars.$font-primary;
  background-color: vars.$secondary-color;
  margin: 0;
  padding: 0;
}

.promo {
  text-align: center;
  color: vars.$primary-color;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 2rem 0;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 2rem;
    border-radius: 0;
    background-size: cover;
    background-position: center;
    color: vars.$primary-color;
    min-height: 300px;
    overflow: hidden;

    /* Capa opaca sobre la imagen de fondo */
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: vars.$color-fondo-overlay;
      z-index: 1;
      border-radius: 0;
    }

    /* Asegurar que el contenido esté por encima de la capa opaca */
    > * {
      position: relative;
      z-index: 2;
    }

    &--cars {
      background-image: url('../Fotos/fondo-cars.jpg');
    }

    &--avatar {
      background-image: url('../Fotos/fondo-avatar.jpg');
    }

    &--fastfurious {
      background-image: url('../Fotos/fondo-FastFurius11.jpg');
    }

    &--jurassic {
      background-image: url('../Fotos/fondo-jurassicworld.jpg');
    }

    &-image {
      max-width: 300px;
      width: 100%;
      border-radius: 8px;
    }

    &-details {
      max-width: 400px;
      padding: 1rem;
      text-align: left;

      h2 {
        font-size: 1.8rem;
        color: vars.$highlight-color;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
        font-family: vars.$font-secondary;
        color: vars.$color-texto;
      }
    }
  }
}