@use '../base/variables' as vars;

@use '../base/reset' as *;
// Contenido Principal


.main-background {
  position: relative;
  background-size: cover; // La imagen cubre todo el fondo
  background-position: center; // Centrar la imagen
  background-repeat: no-repeat;
  min-height: 100vh; // Asegura que ocupe toda la altura de la ventana
  overflow: hidden;

  // Capa semitransparente
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 27, 27, 0.85); // Color semitransparente oscuro
    z-index: 1;
  }

  // Asegurar que todo el contenido sea legible encima del fondo
  * {
    position: relative;
    z-index: 2;
  }
}




  .pelicula {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    align-items: center;

    &__image {
      max-width: 230px;
      height: auto;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &__info {
      flex: 1;
      text-align: left;
      color: vars.$color-texto;

      .pelicula__title {
        font-size: 2rem;
        font-family: vars.$font-primary;
        margin-bottom: 15px;
        color: vars.$color-texto;
      }
    }
  }

  // Media query para pantallas pequeñas
  @media (max-width: 768px) {
    .pelicula {
      flex-direction: column; // Cambia a disposición vertical
      text-align: center; // Centra el texto

      &__image {
        width: 80%; // La imagen ocupa el 80% del ancho del contenedor
        margin-bottom: 20px; // Separación entre imagen y texto
      }

      &__info {
        text-align: center; // Centra el texto

        .pelicula__title {
          font-size: 1.8rem; // Reduce el tamaño del título
        }

        .pelicula__description {
          font-size: 1rem; // Ajusta el tamaño de la descripción
        }

        .pelicula__duration {
          font-size: 1rem; // Ajusta el tamaño de la duración
        }
      }
    }
  }

  .funciones {
    width: 100%;
    max-width: 800px;
    padding-bottom: 2%;
    border-radius: 10px;
    margin: 0 auto; // Asegura que el contenedor funciones esté centrado en su contexto
  
  
    &__dia {
      font-size: 1.5rem;
      font-family: vars.$font-primary;
      color: vars.$color-texto;
      text-align: center;
      margin-bottom: 25px;
    }
  
    &__sesiones {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      justify-items: center; // Centra los elementos dentro de las columnas
      margin: 0 auto; // Asegura que el grid esté centrado
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center; // Centra los elementos en el eje horizontal
      gap: 6px;
      margin: 0 auto; // Asegura que la lista esté centrada en su contenedor
    }
  
    .funcion {
      background-color: vars.$primary-color;
      color: #ffffff;
      padding: 8px 16px;
      border-radius: 15px 0 15px 0;
      font-family: vars.$font-primary;
      font-size: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      min-width: 55px;
  
      span {
        display: block;
      }
  
      &:hover {
        background-color: #0056b3;
        transform: scale(1.05);
      }
    }
  }
  