@use '../base/variables' as vars;
@use '../base/reset' as *;

.ticket {
  &__container {
    background-color: vars.$color-fondo-card; // Color de fondo para el ticket
    color: vars.$color-texto;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  &__title {
    font-size: vars.$font-size-h1;
    font-family: vars.$font-primary;
    font-weight: bold;
    color: vars.$primary-color;
    text-align: center;
    margin-bottom: 20px;
  }

  &__details {
    font-size: vars.$font-size-base;
    font-family: vars.$font-secondary;
    line-height: 1.6;
    margin-bottom: 10px;

    strong {
      font-weight: bold;
      color: vars.$primary-color;
    }
  }

  &__client-info {
    margin-top: 30px;

    p {
      margin: 5px 0;
      font-size: vars.$font-size-base;
      font-family: vars.$font-secondary;
      line-height: 1.6;

      strong {
        font-weight: bold;
        color: vars.$primary-color;
      }
    }
  }

  &__total {
    font-size: vars.$font-size-large;
    font-weight: bold;
    color: vars.$primary-color;
    margin-top: 15px;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .btn {
      padding: 10px 20px;
      background-color: vars.$primary-color;
      border: none;
      border-radius: 5px;
      font-size: vars.$font-size-base;
      color: vars.$color-texto;
      cursor: pointer;
      transition: background-color 0.3s;


      &--disabled {
        background-color: vars.$color-boton-reserva-disabled;
        cursor: not-allowed;
      }
    }
  }
}
